.userPhoto {
	width: 3em;
	border-radius: 20px;
}

.selectedPage {
	font-weight: bold;
}

.pageNum {
	width: 80vw;

}

.preloader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}