.header {
  grid-area: h;
  background-color: #07B568;
}

.header img {
  width: 3em ;
  margin-top: .6em;
  margin-left: 20px;
}


.loginBlock {
  float: right;
  margin-right: 10px;
  margin-top: 10px;

}

.loginBlock a {
  color: white;
}
