.grid {
	display: grid;
}

.app-wrapper {
	width: 1200px;
	margin: 0 auto;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 1fr 10fr;
	grid-gap: 10px;

	grid-template-areas: 
	"h h"
	"n c";
}

.app-wrapper-content {
	grid-area: c;
	background-color: #FCE38A;
	
}
